page-home {
    .bg-image{
        background-image: url('../assets/icon/background.png');
        background-repeat: repeat;
        background-position: center;
        background-size: contain;
    }
}